<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="SoftTitle" value="山西建龙高炉出铁口生产跟踪系统" />
		<add key="Copyright" value="北京祥瑞缘科技有限公司" />
		<add key="ClientName" value="1号高炉北场" />
		<add key="IsConnectDP" value="true" />
		<add key="DpmIpAddress" value="192.168.0.10" />
		<add key="DpmRefTime" value="1000" />

		<add key="PlcIpAddress" value="192.168.0.100" />
		<add key="rack" value="0" />
		<add key="slot" value="1" />
		<add key="sp" value="I0.0" />
		<add key="hp" value="I0.1" />
		<add key="dn" value="I0.2" />
		<add key="tn" value="I0.3" />
		<add key="zb" value="I0.4" />
		<add key="hb" value="I0.5" />
		<add key="gg" value="I0.6" />
		<add key="zg" value="I0.7" />
		<add key="qj" value="I1.0" />
		<add key="ht" value="I1.1" />
		<add key="zz" value="I1.2" />
		<add key="fz" value="I1.3" />
		<add key="cj" value="I1.4" />
		<add key="jy" value="I1.5" />
		<add key="by" value="I1.6" />

		<add key="byv" value="MW16" />
		<add key="dnv" value="MW18" />
		<!--泥炮补压 数字量-->
		<add key ="byma4" value="5530"/>
		<add key ="byma20" value="27648"/>
		<!--泥炮补压 实际值-->
		<add key ="byma4Real" value="0"/>
		<add key ="byma20Real" value="300"/>

		<!--打泥 数字量-->
		<add key ="dnma4" value="5530"/>
		<add key ="dnma20" value="27648"/>
		<!--打泥 实际值-->
		<add key ="dnma4Real" value="0"/>
		<add key ="dnma20Real" value="300"/>

		<add key="State1" value="等铁"/>
		<add key="State2" value="开铁口"/>
		<add key="State3" value="出铁"/>
		<add key="State4" value="堵铁口"/>
		<!--泥缸容积-->
		<add key="Rj" value="0.25"/>
		<!--活塞行程-->
		<add key="Xc" value="1300"/>

		<add key="Scale" value="2.31"/>


		<add key="IsTestState" value="true"/>
		<add key="IsTestDn" value="false"/>

	</appSettings>
	<connectionStrings>
	  <add name="Db" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=sxjldb;Persist Security Info=True;User ID=sa;Password=Sa123;MultipleActiveResultSets=True;"/>
		<!--Server=.;database=sxjldb;uid=sa;pwd=Sa123-->
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>